body {
    background-color: #F5F5F5;
}
.main_dashboard {
    display: flex;
    flex-direction: row;
}
.left {
    margin-left: 50px;
    margin-top: 30px;
    background-color: black;
    width: 280px;
    height: 100vh;
    border-radius: 30px;
    overflow-y: hidden;
}
.divcontent {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    color: white;
    margin-left: 50px;
}
.divcontent1 {
    margin: 0;
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    color: white;
}